<h2>Open Checks</h2>

<div class="row">
<div class="col s12">
  <% @parties.each do |party|%>
  <div class="col s12 m6 l4" id="check">
    <ul>
      <%party.menu_items.each do |item|%>
      <li><%= item.name %> :<div class="right"><%= '%.2f' % item.price %></div></li>
        <% end%>
      <li class="right">Total: $<%= '%.2f' % party.total() %></li>
        <li><%=form_for party, url: party_path(party) do |f| %>
          <%=f.hidden_field :closed, :value => true %>
          <%=f.submit "Close Check"%>
          <% end %>
        </li>
        <li><a href="/parties/<%=party.id%>/split">Split Check</a></li>
    </ul>
  </div>
  <% end %>
</div>
</div>
