<h4>Party: <%=@party.id %> Table: <%= @party.table_num%></h3>
<div class="row">
  <div class="input-field col s8 push-s2">
    <%= form_for @order, url: party_orders_path(@party) do |f| %>
      <div class="col s4 push-s2">
        <%= f.collection_select :menu_item_id, MenuItem.all, :id, :name,{ prompt: "Place order"}, class: "browser-default"%>
      </div>
      <div class="col s4 push-s2">
        <%= f.submit "Order", class: "waves-effect waves-light btn" %>
      </div>
  </div>
  <% end %>
</div>



<table class="party-show" class="bordered">
  <thead>
    <tr>
      <th>Price</th>
      <th>Name</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% @party.menu_items.each do |item| %>
    <tr>
      <td><%= '%.2f' % item.price %></td>
      <td><%= item.name %></td>
      <td><%= item.category %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<h4>Subtotal: $<%= '%.2f' % @party.total() %></h4>
<h4>Tax: $<%= '%.2f' % (@party.total()*0.0875) %></h4>
<h4>Total: $<%= '%.2f' % (@party.total() * 1.0875) %></h4>
