<h2>BAR SCREEN</h2>

<ul>
  <% @drinks.each do |drink| %>
<div class="row">
  <div class="col s5 push-s3">
    <% if (((Time.now() - drink.created_at)/60) < 2) %>
      <li class="new-class"><%= drink.menu_item.name %> | Party # <%= drink.party_id %> | <%=time_ago_in_words(drink.created_at) %>
    <% elsif (((Time.now() - drink.created_at)/60) < 4) %>
      <li class="med-class"><%= drink.menu_item.name %> | Party # <%= drink.party_id %> | <%=time_ago_in_words(drink.created_at) %>
    <% else %>
      <li class="hurry-class"><%= drink.menu_item.name %> | Party # <%= drink.party_id %> | <%=time_ago_in_words(drink.created_at) %>
    <% end %>
  </div>
  <div class="s1">
        <%=form_for drink, url: order_path(drink) do |f| %>
        <%=f.hidden_field :done, :value => true %>
        <%=f.submit "✓"%>
        <% end %>
      </li>
  </div>
</div>
<% end %>
</ul>
